<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Who are you voting for?</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->
    <link href="static/css/voting.css" rel="stylesheet">
    <script src="/static/js/jquery.js"></script>

</head>

<body>

<section class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-info">
                    <div class="panel-heading">Who are you voting for?</div>
                    <div class="panel-body">
                        <form role="form" action="/">
                            <div class="form-group">
                                <label class="control-label" for="address">Enter your address:</label>
                                <input type="text" class="form-control" id="address" name="address" placeholder="e.g. 54 Main Rd, St James">
                                <p class="help-block">Please include your suburb name in the address where possible, putting just the city may lead to a crash. </p>
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                        <div id="results">
                            {% if address %}
                            <h1>Address:</h1>
                            <p> {{ address }}</p>

                            <h1>Your candidates are:</h1>
                            <ol>
                                {% for candidate in candidates %}
                                    <li><a target="_blank" href="http://www.google.com/search?q={{ candidate.Fullname|title }}+{{ candidate.Surname|title }}">{{ candidate.Fullname|title }} {{ candidate.Surname|title }}</a>
                                        - {{ candidate.Party|title }}</li>
                                {% endfor %}
                            </ol>
                            {% endif %}
                        </div>
                    <br>
                    <p>DISCLAIMER: This is super fragile at the moment. If it doesn't work, move house to a place where it does work.</p>
                    </div>
                </div>
            </div>
        </div>

</section>

<div class="footer-below text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="">
                A <a target="_blank" href="http://www.codebridge.co.za">Codebridge</a> collaboration between <a target="_blank" href="http://code4sa.org/">Code4SA</a> and <a target="_blank" href="http://opendata.durban">Open Data Durban</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" style="">
                Download the Android App <a href="http://goo.gl/WqVwJp">here</a>
            </div>
        </div>
    </div>
</div>


</body>

</html>
