<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    {% if ward %}
    <title>Who are you voting for in ward: {{ ward }}?</title>
    {% else %}
    <title>Who are you voting for?</title>
    {% endif %}

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->
    <link href="static/css/voting.css" rel="stylesheet">
    <script src="/static/js/jquery.js"></script>

    <script>

        function geoFindMe() {
            document.getElementById("locate").textContent="Locating, please wait...";
            if (!navigator.geolocation) {
                console.log("Geolocation is not supported by your browser");
            }

            function success(position) {
                var latitude = position.coords.latitude;
                var longitude = position.coords.longitude;
                document.getElementById("lat").value=latitude;
                document.getElementById("lon").value=longitude;
                document.getElementById("locate").textContent="You have been located!";
            };

            function error() {
                document.getElementById("locate").textContent="Unable to find you're location";
                //console.log("Unable to retrieve your location");
            };

            navigator.geolocation.getCurrentPosition(success, error);
        }
    </script>

</head>

<body>

<section class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-info">
                    <div class="panel-heading">Who are you voting for?</div>
                    <div class="panel-body">
                        {% if missing %}
                        <p class="alert alert-warning">Hmm, we couldn't find your address or ward. Please try again.</p>
                        {% endif %}
                        <form role="form" action="/">
                            <div class="form-group">
                                <label class="control-label" for="address">Enter your address:</label>
                                <input type="text" class="form-control" id="address" name="address" placeholder="e.g. 54 Main Rd, St James" value="{{ address }}">
                                <input type="hidden" id="lat" name="lat">
                                <input type="hidden" id="lon" name="lon">
                                <p class="help-block">Please include your suburb name in the address where possible, putting just the city may lead to a crash. </p>
                            </div>
                            <label class="control-label" for="address">Or, use your location:</label>
                            <div class="small">Sorry, doesn't work in Chrome</div>
                            <br>
                            <button type="button" class="btn btn-default" id="locate" onclick="geoFindMe()">Locate</button>
                            <br>
                            <br>
                            <label class="control-label" for="address">Now hit submit:</label>
                            <br>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>

                        {% if ward %}
                        <div id="results">
                            {% if address %}
                            <h1>Address:</h1>
                            <p> {{ address }}</p>
                                            
                            <p>Get more information about this ward in <a href="https://www.wazimap.co.za/profiles/ward-{{ ward }}">Wazimap</a></p>

                            <h1>Your candidates are:</h1>
                            <ol>
                                {% for candidate in candidates %}
                                    <li><a target="_blank" href="http://www.google.com/search?q={{ candidate.Fullname|title }}+{{ candidate.Surname|title }}">{{ candidate.Fullname|title }} {{ candidate.Surname|title }} </a>(Age: {{ candidate.age }}) 
                                        - {{ candidate.Party|title }}</li>
                                        <div class="small">
                                            Wards this candidate is contesting:
                                            <p>
                                            {% for ward in candidate.wards %}
                                                <a href="/?ward={{ ward }}">{{ ward }}</a>
                                            {% endfor %}
                                            </p>
                                        </div>
                                {% endfor %}
                            </ol>
                            {% endif %}
                        </div>
                        <div>
                            <h2>Results in 2011</h2>
                            <iframe id="cr-embed-ward-{{ ward }}-elections-municipal_2011-party_distribution" class="census-reporter-embed" src="https://wazimap.co.za/embed/iframe.html?geoID=ward-{{ ward }}&chartDataID=elections-municipal_2011-party_distribution&dataYear=2011&chartType=histogram&chartHeight=200&chartQualifier=&chartTitle=Voters+by+party&initialSort=&statType=scaled-percentage" frameborder="0" width="100%" height="300" style="margin: 1em; max-width: 720px;"></iframe>
                            <h2>Results in 2014</h2>
                            <iframe id="cr-embed-ward-{{ ward }}-elections-national_2014-party_distribution" class="census-reporter-embed" src="https://wazimap.co.za/embed/iframe.html?geoID=ward-{{ ward }}&chartDataID=elections-national_2014-party_distribution&dataYear=2014&chartType=histogram&chartHeight=200&chartQualifier=&chartTitle=Voters+by+party&initialSort=&statType=scaled-percentage" frameborder="0" width="100%" height="300" style="margin: 1em; max-width: 720px;"></iframe>
                            <script src="https://wazimap.co.za/static/js/embed.chart.make.js"></script>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

</section>

<div class="footer-below text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="">
                A <a target="_blank" href="http://www.codebridge.co.za">Codebridge</a> collaboration between <a target="_blank" href="http://code4sa.org/">Code4SA</a> and <a target="_blank" href="http://opendata.durban">Open Data Durban</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" style="">
                Download the Android App <a href="http://goo.gl/WqVwJp">here</a>
            </div>
        </div>
    </div>
</div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdv4dyariKweNpZZ8kwCcFRxU4ZQxN7nQ&libraries=places&callback=init" async defer></script>
    <script>
    function init() {
        var input = document.getElementById('address');
        var options = {
            types: ['(cities)'],
            componentRestrictions: {country: 'za'}
        };
        var autocomplete = new google.maps.places.Autocomplete(input);
    }
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48399585-44', 'auto');
      ga('send', 'pageview');

    </script>
</body>


</html>
